
.DS_Store
.ipynb_checkpoints/

# ignore fragalysis stuff
README.pdf
aligned_files
yaml_files
extra_files_1
smiles.smi
metadata.csv
*_combined.sdf

# ignore other stuff
attic/

# Ignore databases
*.sqlite

syndirella/*_elabs/*/
